body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.navbar-nav {
    margin-right: 60px;
}

.navbar {
    padding-left: 3.8%;
    padding-right: 3.8%;
}

#starting-container {
    padding-top: 120px;
    padding-left: 8%;
    padding-right: 8%;
}

#search-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

#result-container {
    padding-bottom: 40px;
    padding-left: 8%;
    padding-right: 8%;
}

.search-bar {
    border: 0;
    border-radius: 60px;
    display: flex;
    width: 100%;
    max-width: 700px;
    padding: 10px 6px 10px 25px;
    font-size: 18px;
    height: 55px;
    color: #fff;
    background: linear-gradient(to right, #b74bff 0%, #9733da 28%, #2c6dd5 91%, #2c6dd5 100%);
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.search-bar button img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar button {
    position: relative;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: rgba(67, 157, 209, 0.384);
    backdrop-filter: blur(4px);
}

.search-bar input {
    background: transparent;
    border: 0;
    flex: 1;
    outline: none;
    font-size: 20px;
    color: #ffffff;
}

.title-left-align {
    text-align: left;
}  

::placeholder {
    color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.loading-icon {
    height: 40px;
    width: 40px;
}

.footer {
    border-top: 1px solid rgba(78, 33, 100, 0.212);
    background: #ffffff;
    height: 100px;
}

.footer img {
    width: 200px;
    opacity: 75%;
}

.footer p.text-black-50 {
    font-size: 14px; /* Adjust the font size as desired */
}

.content {
    min-height: calc(100vh - 100px);
}

#footer-list li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

#loading-container{
    margin-top: 15px;
}

.card-header .btn-link {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.language-badge {
    color: rgb(0, 119, 255);
    background-color: white;
    border: 1px solid rgb(0, 119, 255);
    margin-right: 5px;
    cursor: default;
    pointer-events: none;
}

.language-badge:hover {
    cursor: default !important;
}



.badge-date {
    margin-right: 10px;
    padding: 5px 8px;
    font-size: 10px;
    background-color: #136fd8;
    color: #fff;
}

.nav-pills .nav-link {
    font-size: 12px;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    border: 1px solid #e9ecef;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.badge-link {
    border: 1px solid #e9ecef;
    background: linear-gradient(to right, #007bff, #9c27b0);
    color: #fff;
    cursor: pointer;
}

.badge-link:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: #ffffff;
}

.card-header .btn-link:hover,
.card-header .btn-link:focus {
    text-decoration: none;
}

.nav-pills .nav-link.active {
    background-color: grey !important;
    color: white !important;
}

.nav-pills .nav-link {
    background-color: white !important;
    color: grey !important;
    border: 1px solid grey !important;
    margin-right: 5px !important;
}

.card-header .btn-link {
    padding-left: 0 !important;
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
}

.card-header .btn-link:hover,
.card-header .btn-link:focus {
    text-decoration: none !important;
}

.badge-date {
    margin-right: 10px !important;
    padding: 5px 8px !important;
    font-size: 10px !important;
    background-color: #136fd8 !important;
    color: #fff !important;
    text-decoration: none !important;
}

#accordion a {
    text-decoration: none !important;
    cursor: pointer !important;
}

#accordion .card-header .btn-link:hover,
#accordion .card-header .btn-link:focus {
    text-decoration: none !important;
}

#accordion .card-header .btn-link:hover .badge-date,
#accordion .card-header .btn-link:focus .badge-date {
    text-decoration: none !important;
}

#accordion .card-header .btn-link:hover span.text-black-50,
#accordion .card-header .btn-link:focus span.text-black-50 {
    text-decoration: none !important;
}

@media only screen and (max-width: 991px) {
    .footer .row {
        flex-wrap: wrap;
    }

    .footer .col-md-4 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .smaller-logo {
        max-width: 35%;
        padding-left: 20px;
    }

    #starting-container {
        padding-top: 120px;
        padding-left: 1px;
        padding-right: 1px;
    }
    
    #result-container {
        padding-bottom: 40px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

