#starting-container{
    margin-top: 150px;
}

#search-container{
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

#search-results{
    justify-content: center;
    margin-bottom: 8%;
}

.search-bar {
    border: 0;
    border-radius: 60px;
    display: flex;
    width: 100%;
    max-width: 700px;
    padding: 10px 6px 10px 25px;
    font-size: 18px;
    height: 55px;
    color: #fff;
    background: linear-gradient(to right, #b74bff 0%, #9733da 28%, #2c6dd5 91%, #2c6dd5 100%);
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
}

.search-bar input{
    background: transparent;
    border: 0;
    flex: 1;
    outline:none;
    font-size: 20px;
    color: #ffffff;
}

::placeholder{
    color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.search-bar button img{
    width: 30px;
    height: 30px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: rgba(67, 157, 209, 0.384);
    backdrop-filter: blur(4px);
}

.loading-icon{
    height: 40px;
    width: 40px;
}