*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.navbar{
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

nav ul li a:hover{
    color: #6c39e4;
}

.logo{
    width: 165px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0px 0px 0px;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 70%;
    background: linear-gradient(#6c49c0,#9f21aa);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-1 h2{
    font-size: 30px; 
}

.col-1 h3{
    font-size: 20px;
    color: #311c61;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 h4{
    margin: 30px 0;
    font-size: 16px;
}

.col-1 p{
    font-size: 16px;
    color: #311c61;
    font-weight: 100;
}


input[type=text] {
    float: center;
    padding: 6px;
    border: #6c39e4;
    margin-right: 8px;
    font-size: 16px;
    width: 100%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
    border-style: solid none;
    border-bottom: #311c61;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .SDM {
    width: 10%;
    margin-right: 8%;
}

.footer-text {
    margin-left: 10px;
}

.footer-content{
   display: contents;
   justify-content: space-between;

}

.container-searchbar{
    width: 100%;
    height: 70px;
    padding: 50px 0;
    display: flex;
}

.searchbar{
    width: 100%;
    background-color: #b160f388;
    display: flex;
    border-radius: 60px;
    padding: 8px 8px;
}

.searchbar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 24px;
    font-size: 16px;
}

.searchbar button img{
    width: 25px;
}

.searchbar button {
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: #6c49c0;
    cursor: pointer;
}

::placeholder{
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 700px) {
    nav ul{
        width: 100%;
        background: linear-gradient(#317cd16e,#5821b183);
        position:absolute;
        top: 100px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        width: 25px;
        cursor: pointer;
        display: block;
    }

    .nav-menu{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 150px 0px 0px 0px;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .SDM{
        width: 77%;
    }

    .col-1{
        flex-basis: 100%;   
    }

    .col-1 h2{
        font-size: 20px;   
    }

    .col-1 h3{
        font-size: 15px;   
    }

    .footer .SDM {
        width: 20%;
        margin-right: 8%;
    }
}